# Assignment 20

<b>1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [ ]:
test1 = "This is a test of the emergency text system,"

f = open("test.txt","w")
f.write(test1)
f.close()

<b>2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [ ]:
with open("test.txt") as f:
    test2 = f.read()

In [ ]:
test2

No there is no difference between test1 and test2

<b>3. Create a CSV file called books.csv by using these lines:

<b>title,author,year

<b>The Weirdstone of Brisingamen,Alan Garner,1960

<b>Perdido Street Station,China Miéville,2000

<b>Thud!,Terry Pratchett,2005

<b>The Spellman Files,Lisa Lutz,2007

<b>Small Gods,Terry Pratchett,1992

In [2]:
lines ='''title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992'''


with open("books.csv","w") as f:
    f.write(lines)

<b>4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [5]:
import sqlite3

mydb = sqlite3.connect("books.db")

In [7]:
cursor = mydb.cursor()

query = ''' CREATE TABLE books(
            title VARCHAR(20),
            author VARCHAR(20),
            year DATE
            );
'''
cursor.execute(query)

In [13]:
import pandas as pd
pd.read_sql("SELECT * FROM books",mydb)

Empty DataFrame
Columns: [title, author, year]
Index: []

<b>5. Read books.csv and insert its data into the book table.

In [63]:
import csv
f =open("books.csv")

csvReader = csv.DictReader(f)

for i in csvReader:

    query = ''' INSERT INTO books(title,author,year) VALUES(?,?,?)'''
    values = i["title"],i["author"],i["year"]

    cursor.execute(query,values)

In [64]:
pd.read_sql("SELECT * FROM books",mydb)

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

<b>6. Select and print the title column from the book table in alphabetical order.

In [68]:
query = ''' SELECT title FROM books 
            ORDER BY title'''

pd.read_sql(query,mydb)

                           title
0         Perdido Street Station
1                     Small Gods
2             The Spellman Files
3  The Weirdstone of Brisingamen
4                          Thud!

<b>7. From the book table, select and print all columns in the order of publication.

In [69]:
query = ''' SELECT * FROM books 
            ORDER BY year'''

pd.read_sql(query,mydb)

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

<b>8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [70]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

<b>9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [71]:
!pip install redis

Collecting redis
  Downloading redis-4.1.4-py3-none-any.whl (175 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\omkar\anaconda3\lib\site-packages (from redis) (21.0)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\omkar\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\omkar\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.4

In [89]:
import redis
conn = redis.Redis(host = 'localhost' , port = 6379)
conn.hset("test","count", 1)
conn.hset("test","name","Fester Bestertester")

conn.hgetall("test")

{b'count': b'1', b'name': b'Fester Bestertester'}

<b>10. Increment the count field of test and print it.

In [90]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')

b'2'

<b>